<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Stock Database</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="column">
            <img th:src="@{/images/logo.png}" />
        </div>
        <div class="column">
            <h1>Stock Table:</h1>
        </div>
    </div>
    <div th:if="${!stock.isEmpty()}">
        <table>
            <tr>
                <th>Name</th><th>Cost</th><th></th><th></th>
            </tr>
            <tr th:each="item: ${stock}">
                <td th:text="${item.name}"></td>
                <td th:text="${item.cost}"></td>
                <td><a th:href="@{'/delete/' + ${item.id}}">Delete</a></td>
                <td><a th:href="@{'/update/' + ${item.id}}">Update</a></td>
            </tr>
        </table>
    </div>
    <div th:if="${stock.isEmpty()}">
        <p>There are no items in the database</p>
    </div>
    <h2 th:text="${formHeader}"></h2>
    <form th:object="${newItem}" method="post">
        <label>User: </label>
        <input type="text" size="32" th:field="*{name}" />
        <label>Expiration Date: </label>
        <input type="text" size="64" th:field="*{cost}" />
        <input type="submit" value="Submit" />
        <p class="warning" th:if="${#fields.hasErrors('name')}">Item name cannot be empty.</p>
        <p class="warning" th:if="${#fields.hasErrors('cost')}">Cost field cannot be empty.</p>
        <input type="reset" value="Reset" />
    </form>
</div>


</body>
</html>